* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.anti-float {
    display: flow-root;
}

html {
    background-color: rgb(26, 26, 26);
    color: rgb(229, 229, 229);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row { margin: 0 auto; }

h1, h2, h3 {
    color: rgb(65, 189, 82);
}

/* 
color at rest: color: rgb(65, 189, 82); 
color white font: color: rgb(229, 229, 229);
highlighted color: color: rgb(36, 133, 49);
dunno: background-color: rgb(50, 163, 65);

*/
/* header stylings */

header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.212), rgba(0, 0, 0, 0.349)), url(images/background\ money.jpg);
    background-color: rgb(26, 26, 26);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
}

